@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input {
  border: 1px solid black;
  outline: none;
  width: 250px;
  height: 35px;
  border-radius: 50px;
  margin-left: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

span {
  font-size: 20px;
  font-weight: 600;
}